html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
}

body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "JetBrains Mono", monospace;
}

body {
    background: #1a1b1e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "JetBrains Mono", monospace;
}

body.lock {
    overflow-y: hidden;
}

* img {
    pointer-events: none;
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: white;
}

.commands__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    min-height: 100vh;
    padding: 24px;
}

.command {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    min-height: 32px;
}

.input__container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.input__text {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
}

.input {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
    outline: none;
    width: 100vw;
}